html {
    font-family: 'Lora', serif;
    line-height: 30px;
    margin: 0;
    
}

body {
    background-image: linear-gradient(to left top, #e7644f, #f29e3d);
    height:100vh;
    width:100vw;
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 170px;
    text-transform: uppercase;
    padding: 0 20px;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_header_links a {
    text-decoration: none;
    font-size: 22px;
    margin: 5px;
    display: block;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
    line-height: 40px;
    color: white;
}


.nav_header_links a:hover {
    padding-bottom: 10px;
}

#circle-title {
    text-align: center;
    background-color: #fff;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    padding: 80px;
    display: flex;
    justify-content: center;
}

h1 {
    width: 800px;
    font-weight: 200;
    color: #757575;
    font-size: 23px;
    margin: 30px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}

.nav_header_logo img {
    width: 150px;
    height: auto;
}

.nav_social_media i {
    color: #e7644f;
    font-size: 30px;
}

.nav_social_media i:hover {
    opacity: 0.6;
    font-size: 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.nav_social_media i:active {
    color: #E7644F;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 90%;
    }

    header {
        height: 280px;
        position: static;
    }

    .nav_header {
        flex-direction: column;
        text-align: center;
    }

    .nav_header_logo img {
        width: 30%;
    }

    .nav_header_links a {
        font-size: 18px;
    }

    footer {
        position: static;
    }

    i {
        padding: 0 2px;
    }
}